In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [4]:
# df = pd.read_excel('simplesample.xlsx')
# df.to_csv('simplesample.csv', index=False)

In [5]:
df = pd.read_csv("simplesample.csv")
df

    duration  cleanliness  hospitality  satisfaction
0          3            5            5             1
1          1            3            2             0
2          2            4            4             1
3          5            5            5             1
4          1            2            3             0
5          4            5            4             1
6          2            3            2             0
7          3            4            5             1
8          1            1            2             0
9          2            5            5             1
10         4            4            4             1
11         1            2            2             0
12         3            4            3             1
13         2            3            4             1
14         1            1            1             0
15         5            5            4             1
16         3            4            2             0
17         2            5            5             1
18         1            2            3             0
19         3            5            5             1

In [7]:
X = df[['duration', 'cleanliness', 'hospitality']]
y = df[['satisfaction']]