In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, classification_report

In [15]:
df = pd.read_csv("simplesample.csv")
df

    duration  cleanliness  hospitality  satisfaction
0          3            5            5             1
1          1            3            2             0
2          2            4            4             1
3          5            5            5             1
4          1            2            3             0
5          4            5            4             1
6          2            3            2             0
7          3            4            5             1
8          1            1            2             0
9          2            5            5             1
10         4            4            4             1
11         1            2            2             0
12         3            4            3             1
13         2            3            4             1
14         1            1            1             0
15         5            5            4             1
16         3            4            2             0
17         2            5            5             1
18         1            2            3             0
19         3            5            5             1

In [16]:
X = df[['duration', 'cleanliness', 'hospitality']]
y = df[['satisfaction']]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

mlp = MLPClassifier(hidden_layer_sizes=(2, ), activation='relu', solver='sgd', max_iter=165, random_state=42)

mlp.fit(X_train, y_train)

y_pred = mlp.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:2f}%")
print(f"Classification report:\n", classification_report(y_test, y_pred))

Accuracy: 100.000000%
Classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         3

    accuracy                           1.00         4
   macro avg       1.00      1.00      1.00         4
weighted avg       1.00      1.00      1.00         4

/home/hafiz/Documents/Academic Projects/IFB_454/T2_DL/venv/lib/python3.12/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1218: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/hafiz/Documents/Academic Projects/IFB_454/T2_DL/venv/lib/python3.12/site-packages/sklearn/neural_network/_multilayer_perceptron.py:780: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (165) reached and the optimization hasn't converged yet.
  warnings.warn(

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

mlp = MLPClassifier(hidden_layer_sizes=(8, 4), activation='logistic', solver='sgd', max_iter=227, random_state=42)

mlp.fit(X_train, y_train)

y_pred = mlp.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:2f}%")
print(f"Classification report:\n", classification_report(y_test, y_pred))

/home/hafiz/Documents/Academic Projects/IFB_454/T2_DL/venv/lib/python3.12/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1218: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/hafiz/Documents/Academic Projects/IFB_454/T2_DL/venv/lib/python3.12/site-packages/sklearn/neural_network/_multilayer_perceptron.py:780: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (227) reached and the optimization hasn't converged yet.
  warnings.warn(

Accuracy: 100.000000%
Classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         3

    accuracy                           1.00         4
   macro avg       1.00      1.00      1.00         4
weighted avg       1.00      1.00      1.00         4

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

mlp = MLPClassifier(hidden_layer_sizes=(8, 4), activation='tanh', solver='sgd', max_iter=209, random_state=42)

mlp.fit(X_train, y_train)

y_pred = mlp.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:2f}%")
print(f"Classification report:\n", classification_report(y_test, y_pred))

/home/hafiz/Documents/Academic Projects/IFB_454/T2_DL/venv/lib/python3.12/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1218: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/hafiz/Documents/Academic Projects/IFB_454/T2_DL/venv/lib/python3.12/site-packages/sklearn/neural_network/_multilayer_perceptron.py:780: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (209) reached and the optimization hasn't converged yet.
  warnings.warn(

Accuracy: 100.000000%
Classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         3

    accuracy                           1.00         4
   macro avg       1.00      1.00      1.00         4
weighted avg       1.00      1.00      1.00         4